@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

:root{
    --priFont: 'Rethink Sans', sans-serif;
    --secFont: 'Nunito Sans', sans-serif;

    --priColor:#9EC8B9;
    --secColor:#5C8374;
    --triColor:#1B4242;
    --fourthColor:#092635;

    --bodyColor:#fff;
}

input{box-sizing: border-box;}

body{font-size: 18px; font-family: var(--secFont); color: #fff; background: var(--fourthColor);}
h1,h2,h3,h4,h5{font-family: var(--priFont); line-height: 100%; font-weight: bold; font-size: 35px;}

.wrapper{max-width: 1500px; width: 100%; margin-inline: auto; position: relative;}
.wrapper_con{padding-inline: 10px;}
.box_card{display: flex; justify-content: space-evenly; width: 100%; flex-wrap: wrap; gap: 30px 15px;}
.box_card .movie_card{max-width: 400px; width: 100%; text-align: center; display: flex; flex-direction: column; row-gap: 15px; background: var(--triColor); padding: 35px 10px; border-radius: 25px;} 
.box_card .movie_card figure{margin-inline: auto;  width: 100%; overflow: hidden; border-radius: 15px; max-width: 300px;} 
.box_card .movie_card figure img{}
.box_card .movie_card .movie_title{flex: 1; padding-block: 10px; display: flex; align-items: center; justify-content: center; flex-direction: column; padding-inline: 15px;}
.box_card .movie_card h2{font-size: 25px; margin-bottom: 0; color: var(--priColor);}
.box_card .movie_card button{margin-top: 30px;}

.inputBox{width: 100%; margin-inline: auto; margin-bottom: 20px;}
.inputBox input{width: 100%; color: var(--fourthColor); padding-inline: 10px; padding-block: 15px;}